// flex 布局
.f_center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.f_column {
	flex-direction: column;
}
.f_wrap {
	flex-wrap: wrap;
}
.f_space_between {
	justify-content: space-between;
}
.f_space_around {
	justify-content: space-around;
}
.f_space_evenly {
	justify-content: space-evenly;
}
.f_align_center {
	align-items: center;
}
